.bar {
  display: flex;
  padding: 10px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.452);
  background: white;
  max-width: 400px;
  min-width: 400px;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  transition: 0.4s;
  cursor: pointer;
  img {
    border-radius: 10px;
  }
  &:hover {
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.452);
  }
}
.details {
  margin-left: -10px;
  .name {
    font-size: 20px;
    text-transform: capitalize;
    margin-left: 10px;
  }
  .year {
    font-size: 15px;
    opacity: 0.9;
  }
}
