.home {
  display: flex;
  // max-height: 100vh;
  min-height: 90vh;
  .sideBar {
    min-width: 420px;
    min-height: 90vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: white;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}
